.notification-container{
  position: fixed;
  opacity: 1;
  overflow: auto;
  right: 2px;
  left: 2px;
  bottom: 1px;
  z-index: 3;
}

.notification{
  margin-bottom: 2px;
  opacity: 1 !important;
}
