.notification-container{
  position: fixed;
  opacity: 1;
  overflow: auto;
  right: 2px;
  left: 2px;
  bottom: 1px;
  z-index: 3;
  text-align: center;
}

.notification{
  margin-bottom: 2px;
  opacity: 1 !important;
  background-color:#f44336!important;
  color: white;
}

.pagination {
    display: inline-block;
	color: white;
	margin-top:2em;

}

.pagination a {
	background-color:#f44336!important;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	
}

.pagination a:hover {
	background-color:#f44336!important;
    float: left;
    padding: 8px 16px;
    text-decoration: underline;
	
}

input.border{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}


